.main {
  &-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    background: #efefef;
    .ant-collapse {
      margin-top: 20px;
    }
    .ant-collapse:first-child {
      margin-top: 0;
    }
    > div {
      width: 100%;
      max-width: 900px;
    }
  }

  &-title {
    padding: 10px 0;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
  }

  &-item {
    display: flex;
    flex-direction: column;
  }

  &-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-col {
    flex-grow: 1;
  }

  &-input {
    max-width: 135px;
  }

  &-colitem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &-colitem-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > .ant-select,
    > input {
      margin-right: 20px;
    }
    > button {
      flex-shrink: 0;
      margin-left: 10px;
    }
  }

  &-colitem-right {
    flex-shrink: 0;
    padding: 0 10px;
  }

  &-comp-w {
    flex-shrink: 0;
    width: 100% !important;
  }

  &-fold {
    display: flex;
    align-items: center;
  }

  &-fold-title {
    margin-right: 10px;
  }

  &-oper-btn {
    width: 120px !important;
    margin-right: 10px !important;
  }
}

.field-col {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  > span {
    flex-shrink: 0;
    padding: 10px 0;
  }

  &.header {
    margin-bottom: 10px;
    > span {
      padding: 10px;
    }
    font-weight: bold;
  }
}

.field-col-1 {
  width: 150px;
  margin-right: 10px;
}

.field-col-2 {
  width: 150px;
  margin-right: 10px;
}

.field-col-3 {
  width: 100px;
  margin-right: 10px;
}

.field-col-4 {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  .select {
    width: 200px;
  }
}

.date-wrap {
  padding: 10px 0;
  width: 100%;
}

.field-col-6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
